.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    width:100%;
    position: sticky;
    z-index: 10;
    top:0;
    background-color:white;
    box-shadow: 0 0 4px 0 #AAAAAA;
}

.header__logo{
    height:2rem;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:400px;
}

.header__link{
    text-decoration: none;
    color:black;
    font-weight:500;
}